################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CatalogService/obj
/CatalogService/obj
net5.0
/CatalogService.Api.Web/obj
/CatalogService.Api.BLL/obj
/CatalogService.Api.DAL/obj
/.vs
/.gitignore
/.vs
/.vs/CatalogService
/ApiGateway/bin/Debug/netcoreapp3.1
/ApiGateway/obj/Debug/netcoreapp3.1
/ApiGateway/obj
