################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CatalogService/obj
/CatalogService/obj
net5.0
